#contact-links {
  margin: 1em auto;
  display: block;
  text-align: center;
  font-size: 5em;
}

#contact-links a {
  color: rgb(85, 26, 139);
}

#contact-links a:hover {
  color: rgb(0, 190, 246);
}

